/*  Bootstrap */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y: scroll;}
body{margin: 0; padding:0;}
html, div,p, img,input, td, th,button,ul,li,ol,h1, h2, h3, h4, h5, h6,form,input,select,textarea, dd, dl,dt { margin: 0; padding:0; }
body { font: 12px/1.5 "\5B8B\4F53"; background-color: #fff; color: #4b4b4b; font-family: "Microsoft Yahei";}
a { color: #545454; text-decoration: none; cursor: pointer; outline:none;  }
a:hover{ color: #f60; outline: 0;  }
img { border: 0;  vertical-align: middle;}
table { border-spacing: 0; border-collapse: collapse; }
input, select, label { vertical-align: middle;}
ul { list-style: none }
ol { list-style: decimal inside }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .yahei { font-family: "Microsoft Yahei"; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-weight:500; color:#222;}
h1, .h1, .font26{ font-size:26px;}
h2, .h2, .font22{ font-size:22px;}
h3, .h3, .font18{ font-size:18px;}
h4, .h4, .font16{ font-size:16px;}
h5, .h5, .font14{ font-size:14px;}
.small{ font-size:15px;}
i{ font-style: normal;}
.text-center{ text-align:center;}
.text-left{ text-align:left;}
.text-right{ text-align:right;}
.text-bottom{ vertical-align:text-bottom;}
.text-indent{ text-indent:2em;}
.text-underline{ text-decoration:underline}
.text-strong{ font-weight:700;}
.line26{ line-height:26px;}
.text-red{ color:#f00;}
.text-orange { color: #f60; }
.text-yellow{ color: #ffff00; }
.text-blue{ color:#328eff;}
.text-green{ color:#8ebc27;}
.text-black { color:#3c3c3c;}
.text-muted { color: #999; }
.padding7{ padding-top:7px;display: inline-block;}
.pull-left{ float:left;}
.pull-right{ float:right;}
.hide{ display:none;}
.show{ display:block;}
.clearfix:after{ display: table; content: ""; font-size:0; clear: both;}
.clearfix{*zoom:1; clear:both;}

.nav li, .nav li a { position: relative; display: block; }
.nav_tabs{ border-bottom:1px solid #ff9933;width:100%; margin-bottom:10px;}
.nav_tabs li, .nav-tabs li{ position:relative; float:left;margin-right:15px; text-align:center;}
.nav_tabs li a{padding:2px 20px; display:block; color:#535353; font-size:14px; font-weight:700;}
.nav_tabs li.active a{background-color:#ff9933; color:#fff;}
.tab-content .tab-pane { display: none; clear:both; background-color:#fff; }
.tab-content .active { display: block; }

.table { width:100%;margin-bottom: -1px; overflow:hidden; margin-bottom:12px;}
.table thead tr th{ text-align:center; background-color:#eee; font-weight:700; padding:6px 4px;}
.table tbody tr td{ border-bottom:1px solid #eee; padding:12px 4px; text-align:center;}
.table tbody tr:last-child td{ border-bottom:none;}
.table tfoot tr td{ border-top:1px solid #e6e6e6; background-color:#fafafa; padding:10px 12px; text-align:left;}
.table tr th.text-left, .table tr td.text-left{text-align:left;}
.table tr th.text-right, .table tr td.text-right{ text-align:right;}
/*top*/
#menu, .banner, .question_banner, .game_banner{ min-width:1004px;}
#menu{ width:100%; height:56px; background-color:#1f2229;}
.container{ margin:0 auto; min-width:1004px; overflow:hidden; max-width:1240px;_width:1004px;padding-bottom: 50px;}
.logo{ width:159px; height:50px;}
.menu{font-family: "Microsoft Yahei";}
.menu li{ float:left; width:102px; text-align:center; height:56px;line-height:56px;}
.menu li.dashed{ border-right:1px dashed #55575b;}
.menu li a{ font-size:14px; color:#c6cad2; }
.menu li a:hover, .menu li a.active{ color:#8ebc27;}
.banner{ width:100%; height:426px; overflow:hidden; position:relative;}
.game_title{border-bottom: 1px solid #b6b7b9; height:24px;  margin: 0 0 12px;padding: 5px 0 0;}
.game_title .span1{ background:#fff;margin-bottom: -10px;padding: 0 3px; color:#515151}
.game_title .span1.text-green{ color:#8ebc27;}
.game_title .span1 em{ font-style:normal; padding:0px 3px;}
.news_info{}
.news_info h2{ line-height:35px;}
.news_info P{ text-indent:15px; line-height:28px; margin-top:5px; font-size:14px;}
.news_info P.indentN{text-indent:0px; }
.borderDB{ border-bottom:1px dashed #dcdcdd;}
.question{}
.questionNav{ margin-top:20px; overflow:hidden; height:40px;font-family: "Microsoft Yahei";}
.questionNav li{ float:left; margin-left:15px; border-top-left-radius:5px; border-top-right-radius:5px;font-size:18px; text-align:center; background:#fff; width:130px; height:40px; line-height:40px;}
.questionNav li a{ color:#333333;}
.questionNav li a.active{ color:#fff; display:inline-block; width:130px; background:#8ebc27;border-top-left-radius:5px; border-top-right-radius:5px}
.question_banner{ width:100%; height:230px; background:url(../images/kefu_banner.jpg) center no-repeat;}
.qusTab{ background:#fff;box-shadow: 1px 1px 3px #dadada, -1px -1px 3px #ddd; border-radius:5px; padding:20px 30px;}
.qusTab .contend{ font-size:16px; display:none;font-family: "Microsoft Yahei";}
.qusTab .contend h3{ margin-top:20px;}
.qusTab .contend p{ text-indent:19px; color:#6e6e6e;}
.icon_Green{ width:9px; height:9px; background:#8ebc27; display:inline-block; margin-right:10px; vertical-align:middle;}
.game_banner{ width:100%; height:427px; position:relative;}
.pp_banner{background-repeat:no-repeat;background-size:cover;background-position:center center;}
.game_info{ padding:0px 3%;}
/*.game_info img{ width:70%; max-width:800px;}*/
.game_info h2{ margin:10px 0px; font-size:18px; color:#5c4208; background:#eeeded; height:40px; line-height:40px; padding-left:10px;}
.game_info p{ margin:25px 0px 15px; line-height:26px; font-size:14px;}
.h_txt{ font-size:14px; line-height:25px; margin:3px 0px; color:#848484;}
.icon_ppmj{display: inline-block;width: 67px;height: 67px;margin-top: 5px;margin-right:10px;}
.icon_ppmj img{width: 100%;height: 100%;}
.btn{width:276px; height:65px; background:url(../assets/btn.png) center no-repeat;margin-top: 5px;}
.game_info .mj_img img{margin-left: 30px;}
/* 底部foot */
.footInfo{width: 100%;background-color: #1f2229;border-top: 1px solid #a2a2a2;}
.promptImg{margin-top: 20px; display:inline-block; width: 154px;height: 134px; position: relative;}
.promptInfo {text-align: center;margin-top: 40px;width: 806px;color: #fff;}
.promptInfo p{font-size: 12px;color: #fff;font-weight: 700;}
.beiAn{text-align: center;line-height: 40px;}
.beiAn div img{width: 19px;height: 20px;}
.beiAn div{font-size:12px;color: #575757;}
.beiAn a{color: #fff;}
.newsCustomer{ padding-bottom: 50px;}
